[submodule "my_first_desktop_app"]
	path = my_first_desktop_app
	url = https://github.com/rpointjour/my_first_desktop_app.git
[submodule "django_tutorial"]
	path = django_tutorial
	url = https://github.com/rpointjour/django_tutorial.git
[submodule "windows_forms_app"]
	path = windows_forms_app
	url = https://github.com/rpointjour/windows_forms_app.git
