<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fau_cop4655_Z23572422.mystockapppoc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyStockAppPOC">

        <activity android:name="com.fau_cop4655_Z23572422.mystockapppoc.NewsActivity" android:theme="@style/Theme.MyStockAppPOC" android:label="News" android:parentActivityName="com.fau_cop4655_Z23572422.mystockapppoc.MainActivity"> </activity>

        <activity android:name="com.fau_cop4655_Z23572422.mystockapppoc.LoginActivity" android:theme="@style/Theme.MyStockAppPOC" android:label="Log In" android:parentActivityName="com.fau_cop4655_Z23572422.mystockapppoc.NewsActivity"> </activity>

        <activity android:name="com.fau_cop4655_Z23572422.mystockapppoc.BottomNavActivity" android:theme="@style/Theme.MyStockAppPOC" android:label="Search/Favorite(s)" android:parentActivityName="com.fau_cop4655_Z23572422.mystockapppoc.LoginActivity"> </activity>


        <activity android:name="com.fau_cop4655_Z23572422.mystockapppoc.MainActivity">


        <intent-filter>

        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>

    </intent-filter>

    </activity>
    </application>

</manifest>